= simple_form_for @jet, html:{ multipart: true} do |f|
	- if @jet.errors.any?
		#errors
			%p
				= @jet.errors.count
				Prevented this jet froms saving
			%ul
				- @jet.errors.full_messages.each do |msg|
					%li= msg
	.panel-body
		= f.input :title, input_html: { class: 'form-control' }
		= f.input :make, input_html: { class: 'form-control' }
		= f.input :plane, input_html: { class: 'form-control' }
		= f.input :serial_number, input_html: { class: 'form-control' }
		= f.input :price, input_html: { class: 'form-control' }
		= f.input :age, input_html: { class: 'form-control' }
		= f.input :description, input_html: { class: 'form-control' }

		= f.button :submit, class: "btn btn-primary"
		